/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Orbitron', sans-serif;
  font-family: 'Press Start 2P', cursive; */
}

body {
  background: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
main .titulo {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
  margin-left: -40px;
}
main .titulo span {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}
main .titulo span:hover {
  animation: salto 0.5s infinite;
}
main .juegosDisponibles {
  display: flex;
}
main .juegosDisponibles a {
  margin-right: 20px;
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
  font-family: "Orbitron", sans-serif;
  font-weight: 800;
}
main .juegosDisponibles a:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4;
}
main .juegosDisponibles a:nth-child(1) {
  filter: hue-rotate(270deg);
}
main .juegosDisponibles a:nth-child(2) {
  filter: hue-rotate(110deg);
}
main .juegosDisponibles a span {
  position: absolute;
  display: block;
}
main .juegosDisponibles a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
}
main .juegosDisponibles a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 2s linear infinite;
  animation-delay: 0.25s;
}
main .juegosDisponibles a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation-delay: 0.5s;
}
main .juegosDisponibles a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 2s linear infinite;
}

#juegoElegido {
  scroll-behavior: smooth;
}

/* KEY FRAMES */
@keyframes salto {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
#form #nombre {
  font-family: "Orbitron", sans-serif;
  font-size: 15px;
  padding: 10px;
  border: 5px solid hsla(120, 9%, 7%, 0.205);
}
#form #nombrebtn {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  background-color: hsla(120, 2%, 35%, 0.833);
  color: black;
  border: none;
  cursor: pointer;
}
#form #nombrebtn:hover {
  background-color: rgb(153, 152, 152);
  color: black;
}

#juegoElegido {
  padding-bottom: 500px;
}
#juegoElegido .tituloJuego {
  font-family: "Orbitron", sans-serif;
  font-size: 100px;
  margin-bottom: 50px;
  padding-left: 40px;
}
#juegoElegido .ppt {
  color: #03e9f4;
  filter: hue-rotate(270deg);
}
#juegoElegido .a {
  color: #03e9f4;
  filter: hue-rotate(110deg);
}
#juegoElegido .instruccionesJuego {
  color: white;
  font-family: "Orbitron", sans-serif;
}
#juegoElegido .inst {
  padding-bottom: 70px;
  padding-left: 50px;
}
#juegoElegido .inst p {
  color: white;
  font-family: "Orbitron", sans-serif;
}
#juegoElegido .inst #jugarbtn {
  margin-top: 50px;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  background-color: hsla(120, 2%, 35%, 0.833);
  color: black;
  border: none;
  cursor: pointer;
}
#juegoElegido .inst #jugarbtn:hover {
  background-color: rgb(153, 152, 152);
  color: black;
}

.containerPPT {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.containerPPT .contenedorJuego {
  font-family: "Orbitron", sans-serif;
  display: flex;
  gap: 30px;
}
.containerPPT .contenedorJuego .opciones {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.containerPPT .contenedorJuego .opciones button {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  background-color: hsla(120, 2%, 35%, 0.833);
  color: black;
  border-radius: 10px;
  cursor: pointer;
}
.containerPPT .contenedorJuego .opciones button:hover {
  background-color: rgb(153, 152, 152);
  color: black;
}
.containerPPT .contenedorJuego .eleccionJugador {
  border: 10px solid #03e9f4;
  filter: hue-rotate(270deg);
  padding: 100px 200px;
  color: #03e9f4;
  filter: hue-rotate(270deg);
}
.containerPPT .contenedorJuego .eleccionJugador .eleccionJugadorTitulo {
  margin-bottom: 50px;
}
.containerPPT .contenedorJuego .eleccionComputadora {
  border: 10px solid white;
  padding: 100px 200px;
  color: white;
}
.containerPPT .contenedorJuego .eleccionComputadora .eleccionComputadoraTitulo {
  margin-bottom: 50px;
}
.containerPPT .contenedorJuego .resultadoJuego {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #03e9f4;
  filter: hue-rotate(270deg);
  gap: 50px;
}/*# sourceMappingURL=main.css.map */